.App {
  display: flex;
  justify-content: center;
}

.Grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 500px;
  align-items: flex-start;
  width: 500px;
}

.Error {
  margin: auto;
}